*{
	max-width: 100%;
}

.image{
	background: url("images/contact.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 600px;
}

.image h3{
	overflow:hidden;
	color: #333;
	font-family: Arial;
	font-size: 80px;
	position: absolute;
	right: 5%;
	top: 20%;
}

.h5{
	color: #333;
	font-family: Arial;
	font-size: 20px;
	position: absolute;
	right: 16.5%;
	top: 45%;
	display: block;
	font-family: Arial;
}

.address{
	margin-left: 5%;
	background: url("images/map.svg");
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 400px;
	width: 80%;
	margin-bottom: 5%;
}

h3{
	margin-left: 5%;
	font-family: Arial;
	font-size: 30px;
	font-weight: bolder;
	color: #333;
}
p{
	font-family: Arial;
	font-size: 15px;
	color: #333;
	margin-left: 55%;  ;
	font-weight: bold;
}

a{
	text-decoration: none;
	color: #333;
}

a:hover{

	color: blue;
}