body{
	background:#f4f4f4;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}
.logo img{
	background:url("images/logo.png");
	position:absolute;
	width:50px;
	height:50px;
	color:white;
	top:8px;
	left:25px;
}
#main-header{
	background:coral;
	height:70px;
	overflow:hidden;
}

#main-header h1{
	font-family:Arial, Times new roman;
	font-size:30px;
	font-weight:bold;
	color:white;
	padding-left:100px;
}


#navbar {
	background:#333;
	width:100%;
	height:60px;
	overflow:hidden;
}
#navbar li{
	list-style:none;
	color:white;
	display:inline;
	font-family:Arial, Times new roman;
	padding:10px;
	margin:0;
}
#navbar li:hover{
	background:mediumseagreen;
}
#navbar a{
	text-decoration:none;
	color:white;
}
.showcase{
	overflow:hidden;
	background-image:url("images/image.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position:bottom;
	margin-bottom:20px;
	height:400px;
}

.image h3{
	font-family:Arial, Helvetica,serif-sans;
	font-weight:bold;
	color:white;
	text-align:center;
	padding:50px;
	font-size:50px;
	margin-top:15%;
	text-shadow:6px 6px #333;
}
.container{
	overflow:hidden;
	width:95%;
	margin:auto;
}
#main{
	float:left;
	width:70%;
	font-size:20px;
	text-align:left;
	box-sizing:border-box;
	padding:0 5px;
	color:#333;
}
.aside{
	float:right;
	width:30%;
	color:white;
	background:#333;
	font-size:15px;
	box-sizing:border-box;
	padding:5px;
	margin-top:3%;
}

#main-footer{
	display:block;
	background:#333;
	color:white;
	font-weight:bold;
	font-size:20px;
	text-align:center;
	margin-top:30px;
	padding:20px;
}

/*------------------------------------------------------------------ Slider -------------------------------------------------------------------*/
.cover-slides{
	height: 50vh;
}
.slides-navigation a {
	background: #d33b33;
	position: absolute;
	height: 50px;
	width: 50px;
	top: 50%;
	font-size: 20px;
	display: block;
	color: #fff;
	line-height: 90px;
	text-align: center;
	transition: all .3s ease-in-out;
}
.slides-navigation a i{
	font-size: 40px;
}
.slides-navigation a:hover {
	background: #010101;
}
.cover-slides .container{
	height: 50%;
	position: relative;
	z-index: 2;
}
.cover-slides .container > .row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.cover-slides .container > .row {
	height: 50%;
}
.overlay-background {
	background: #333;
	position: absolute;
	height: 50%;
	width: 50%;
	left: 0;
	top: 0;
	opacity: 0.5;
}
.cover-slides h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 64px;
	color: #fff;
}
.cover-slides p{
	font-size: 18px;
	color: #fff;
	padding-bottom: 30px;
}
.slides-pagination a{
	border: 2px solid #ffffff;
}
.slides-pagination a.current{
	background: #d33b33;
	border: 2px solid #d33b33;
}
.cover-slides p a{
	font-size: 24px;
	color: #ffffff;
	border: none;
	text-transform: uppercase;
	padding: 10px 20px;
}
.cover-slides h1{
	font-size: 28px;
}
.cover-slides h1{
	font-size: 28px;
}
.cover-slides p{
	font-size: 16px;
}
.cover-slides p a{
	font-size: 18px;
}