*{

  line-heigth: 1.6em;


}
body{
    background: url("sch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    overflow: scroll;
    overflow-x: hidden;
    display: block;
    width: 800px;
    height: 550px;
    border: 2px solid white;
    background: #333;
    position: absolute;
    top: 5%;
    left: 22%;
    opacity: 0.9;
}



.nav{
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 50px;
  width:100%;
  height: 80px;
  background: tomato;
  opacity:1;
}

h1{
  color: white;
  text-align: center;
  font-family: sans-serif;
}

h5{
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.form label{
  color: white;
  display: block;
  position: relative;
  left: 31%;
  font-family: sans-serif;
  font-size: 20px;
}

.form input{
  display: block;
  position: relative;
  left: 30%;
  margin: 5px;
  width: 40%;
  height: 40px;
  padding: 5px;
  border: 2px solid #333;
  border-radius: 5px;
  opacity: 1;
  color: black;
}

.form select{
  background: white;
  display: block;
  position: relative;
  left: 30%;
  margin: 10px;
  width: 30%;
  height: 40px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  opacity: 1;
  color: black;
}

.form textarea{
  display: block;
  position: relative;
  left: 30%;
  margin: 5px;
  width: 40%;
  height: 40px;
  padding: 5px;
  border: 2px solid #333;
  border-radius: 5px;
  opacity: 1;
  color: black;
}

.btn  {
  float: right;
  right:80px;
  top:20px;
  background-color: yellow;
  
}


#button{
  width: 20%;
  left: 40%;
  transition: width 2s;
}

#button:hover{
  width: 22%;
}
